body{
  background-color: $pantone5115 !important;
}
.hidden{
  display: none !important;
}

.text-base{
  font-size: 32px;
  font-family: $ff-raleway;
}

.video-home-fullscreen{
  height: 100% !important;
  position: relative;
  display: block;
  overflow: hidden;
  z-index: -9;
}

.link-white{
  color: $branco;
  display: inline-block;
  font-weight: 700;
  @include transition(1s);

  &:after{
    content: '';
    width: 100%;
    height: 4px;
    background-color: $pantone199;
  }

  &:hover{
    color: $pantone199;
  }
}
